spring:
  application:
    name: Eagle Bank API

  datasource:
    url: jdbc:postgresql://localhost:5432/eagle_bank
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret:
  expiration-hours: 24

